* {
  box-sizing: border-box;
  color: white !important;
}
body {
  text-align: center;
  background-color: #000;
}
.hero {
  background-image: url("../assets/bg.jpg");
  padding: 3rem 1rem;
}
.name,
.dev {
  font-size: min(calc(2vw + .8rem),3rem);
  color: aliceblue;
  font-family: Montserrat, sans-serif;
}
.contain{
  padding: 1rem max(1rem, calc(50vw - 660px));
}
/*Navbar*/
.navbar-brand {
  text-transform: uppercase !important;
  font-family: "Raleway", sans-serif;
  font-size: .8rem;
}
.navbar-toggler {
  background-color: #18426d;
}
.nav-link {
  margin: 0 2px !important;
  font-family: "Montserrat", sans-serif;
}
.nav-link:hover {
  color: rgb(27, 36, 44) !important;
}
.photo {
  width: min(calc(80vw - 1rem), 320px);
  height: min(calc(80vw - 1rem), 320px);
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}
.links-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-fixed:hover {
  color: antiquewhite;
}
.navegador {
  color: #24303c;
}
.navegador:hover {
  color: antiquewhite;
  transition: color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.burger {
  border: none;
  background-color: transparent;
}
.burger-opened {
  border-radius: 25%;
  background-color: #2a2b2b;
}
.la-bars {
  font-size: 32px;
}
.la-times {
  font-size: 20px;
}
.head1 {
  font-size: 50px;
  margin-bottom: 0%;
  text-align: center;
  display: grid;
  font-family: "Lucida Sans";
  cursor: default;
  border-radius: 9px;
  padding: 25px 25px 0px 0px;
  text-shadow: 3px 3px 3px #000;
}
#abme {
  border-radius: 10px;
  font-family: "Lucida sans";
  font-size: 25px;
  text-align: right;
  margin-top: 25px;
}
.form-register {
  text-align: left;
  max-width: 350px;
  background: #24303c;
  padding: 1.5rem;
  margin: auto;
  border-radius: .25rem;
  font-family: 'calibri', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 70px;
}
.form-register h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.controls {
  background: #24303c;
  padding: .5rem;
  border-radius: .25rem;
  margin-bottom: .5rem;
  border: 1px solid #1f53c5;
  font-family: 'calibri', sans-serif;
  font-size: 1rem;
}
.form-register p {
  text-align: left;
  font-size: 1rem;
}
.form-register a {
  color: white;
  text-decoration: underline;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .button {
  background: #1f53c5;
  border: none;
  padding: .8rem;
  color: white;
  font-size: 1rem;
}
/*Skills*/
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 8rem),1fr));
  align-items: end;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.grid-item {
  max-width: 7rem;
  width: 100%;
}
.grid-item:hover + .span-skills{
  opacity: 1;
}
.span-skills {
  background-color: rgba(153, 145, 145, 0.75);
  margin: .5rem 0;
  border-radius: .5rem;
  opacity: 0;
  padding: .5rem;
  pointer-events: none;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.tailwindCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.tailwindSpan {
  position: absolute;
  top: 1010px;
  opacity: 0;
}
.tailwindSpan:active {
  opacity: 1;
  position: absolute;
  top: 1025px;
}
.viteImg {
  width: 4rem;
  padding: 25px 0;
}
.viteSpan {
  position: absolute;
  top: 1010px;
  opacity: 0;
}
.viteSpan:active {
  opacity: 1;
  position: absolute;
  top: 1050px;
}
.Portafolio-section {
  padding: 0 10px;
}
#skills {
  margin-top: 13%;
}
.logo {
  border: 3px solid #a5a5a5;
  border-radius: 25px;
  margin: 4rem 0 1rem;
  padding: 1.5em;
  transition: all 0.8s ease-in;
  filter: grayscale(100) opacity(50%);
}
.logo2 {
  border: 3px solid #29caf7aa;
  border-radius: 25px;
  margin: 1rem 0 3rem 0;
  padding: 1.5em;
  transition: all 0.5s ease-in;
  filter: grayscale(0) opacity(100%);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  border: 3px solid #29caf7aa;
  animation: border 1s linear;
}
.logo2.react:hover {
  filter: drop-shadow(0 0 2em #616161aa) grayscale(100) opacity(25%);
  border: 3px solid #5f5f5faa;
  animation: border 6s linear;
}
.logo2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
/*Proyectos*/
.Landing {
  border: 0;
  content: "";
  height: 100%;
  width: 50%;
}
.Landing:hover {
  filter: blur(0.5rem);
  transition: all 0.3s ease-in;
}
.Landing-photo {
  width: 80%;
}
.span1 {
  padding: 2.5rem .5rem .5rem;
  font-size: 1.5rem;
  color: aliceblue;
  text-transform: uppercase;
}
.AboutMe {
  font-size: min(1.5rem, .8rem + 5vw);
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}
/*Footer*/
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.socialLink {
  object-fit: contain;
  width: 3.5rem;
}
.socialLink img{
  width: 100%;
}
.end {
  background-color: #24303c;
}
.la-bars {
  font-size: 18px;
}
.Link {
  height: 55px;
  float: left;
}
.social :hover {
  animation: vibrate 0.5s;
  animation-iteration-count: infinite;
}
.copy {
  color: #374a5c;
}
.footerLinksContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px dotted #929191c7;
  border-radius: .25rem;
  max-width: 10rem;
}
.footerNav{
  text-decoration: none;
}
.footerNav:hover{
  color: #b38c59 !important;
}
.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  35% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}