body {
  background-color: #000;
  width: 100%;
  padding-top: 10px 10px 10px 10px;
}
.navbar {
  position: static !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white !important;
  text-align: center;
}
.hero {
  background-image: url(bg.jpg);
  padding-bottom: 48px;
}
.name,
.dev {
  color: aliceblue;
  font-family: Montserrat, sans-serif;
}
/*Navbar*/
.navbar-brand {
  text-transform: uppercase !important;
  font-family: "Raleway", sans-serif;
}
.navbar-toggler {
  background-color: #18426d;
}
.nav-link {
  margin: 0 2px !important;
  font-family: "Montserrat", sans-serif;
}
.nav-link:hover {
  color: rgb(27, 36, 44) !important;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.photo {
  border-radius: 50%;
  margin: 50px 0 50px 0;
  width: 30%;
  height: 80%;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 5px;
}
.nav-fixed:hover {
  color: antiquewhite;
}
.navegador {
  color: #24303c;
}

.navegador:hover {
  color: antiquewhite;
  transition: color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.burguer {
  border: none;
  height: 40px;

  background-color: transparent;
}
.burguer-opened {
  border-radius: 25%;
  background-color: #2a2b2b;
}
.la-bars {
  font-size: 32px;
}
.la-times {
  font-size: 20px;
}

.head1 {
  font-size: 50px;
  margin-bottom: 0%;
  text-align: center;
  display: grid;
  font-family: "Lucida Sans";
  cursor: default;
  border-radius: 9px;
  padding: 25px 25px 0px 0px;
  text-shadow: 3px 3px 3px #000;
}

a:visited {
  color: #2d2d2e;
}

a:hover {
  color: rgb(250, 214, 181);
  transition: color 0.3s ease, color 0.3s ease;
}

#abme {
  border-radius: 10px;
  font-family: "Lucida sans";
  font-size: 25px;
  text-align: right;
  margin-top: 25px;
}

.head2 {
  font-size: 18px;
  text-align: center;
}

.form-register {
  text-align: left;
  width: 350px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: calibri;
  color: white;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 70px;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 50px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: calibri;
  font-size: 18px;
}

.form-register p {
  height: 40px;
  text-align: left;
  font-size: 18px;
}

.form-register a {
  color: white;
  text-decoration: underline;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .button {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/*Skills*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1rem;
}
.grid-item {
  max-width: 7rem;
}
.grid-item-bootstrap {
  max-width: 7rem;
  margin-top: 18px;
}

.section__tech {
  margin-right: 0;
}

.span-skills {
  background-color: rgba(153, 145, 145, 0.75);
  border-radius: 0.5rem;
  opacity: 0;
  padding: 0.5rem 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: translate(-60px, 10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 120px;
  z-index: 1;
}
.tailwindCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.tailwindSpan {
  position: absolute;
  top: 1010px;
  opacity: 0;
}
.tailwindSpan:active {
  opacity: 1;
  position: absolute;
  top: 1025px;
}
.viteImg {
  width: 4rem;
  padding: 25px 0;
}
.viteSpan {
  position: absolute;
  top: 1010px;
  opacity: 0;
}
.viteSpan:active {
  opacity: 1;
  position: absolute;
  top: 1050px;
}
.vientos {
  width: 100%;
}

.Portafolio-section {
  padding: 0 10px;
}

#skills {
  margin-top: 13%;
}

.logo {
  border: 3px solid #a5a5a5;
  border-radius: 25px;
  margin-top: 4rem;
  height: 7rem;
  padding: 1.5em;
  transition: all 0.8s ease-in;
  filter: grayscale(100) opacity(50%);
}
.logo2 {
  border: 3px solid #29caf7aa;
  border-radius: 25px;
  margin-top: 4rem;
  height: 7rem;
  padding: 1.5em;
  transition: all 0.5s ease-in;
  filter: grayscale(0) opacity(100%);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  border: 3px solid #29caf7aa;
  animation: border 1s linear;
}

.logo2.react:hover {
  filter: drop-shadow(0 0 2em #616161aa) grayscale(100) opacity(25%);
  border: 3px solid #5f5f5faa;
  animation: border 6s linear;
}

.logo2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

/*Proyectos*/

.Landing {
  border: 0;
  content: "";
  height: 100%;
  width: 50%;
}
.Landing:hover {
  filter: blur(0.5rem);
  transition: all 0.3s ease-in;
}
.Landing-photo {
  width: 80%;
}

.span1 {
  font-size: 25px;
  color: aliceblue;
  border-radius: 45%;
  height: 12%;
  pointer-events: none;
  justify-content: center;
  text-transform: uppercase;
}

.AboutMe {
  padding: 40px 0 25px 0;
  margin-bottom: 10%;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  margin-top: 5%;
}

/*Footer*/

.social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.socialLink {
  padding: 0 10px;
}
.end {
  padding: 35px 0 35px 0;
  width: 100%;
  background-color: #24303c;
}

.end2 {
  width: auto;
  padding: 35px 0 35px 0;
  background-color: #24303c;
}

.la-bars {
  font-size: 18px;
}

.end2 p a img {
  height: 35px;
  float: left;
  padding-left: 25px;
  opacity: 80%;
}

.end p a img {
  height: 35px;
  margin-bottom: 25px;
  opacity: 80%;
}

.Link {
  height: 55px;
  float: left;
}

.end p a img:hover {
  animation: vibrate 0.5s;
  animation-iteration-count: infinite;
}

.copy {
  color: #374a5c;
}

.containerSkill {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
}

.footerLinksContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:10px;
  border: 1px dotted #929191c7;
  border-radius: 10%;
  margin-bottom: 2rem;
  width: 8rem;
}
.footerNav:hover{
  color: #b38c59!important;
}
.separator {
  margin: 6px 3px;
}


.footerContainer {
  display: flex;
  justify-content: space-around;
  padding: 0 8rem;
  flex-direction: row;
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-1deg);
  }

  20% {
    transform: rotate(-2deg);
  }

  30% {
    transform: rotate(-3deg);
  }

  35% {
    transform: rotate(-2deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(1deg);
  }

  60% {
    transform: rotate(2deg);
  }

  70% {
    transform: rotate(3deg);
  }

  80% {
    transform: rotate(2deg);
  }

  85% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@media (max-width: 991px) {
  .v1 {
    background-color: #1f53c5;
  }
}

@media (max-width: 700px) {
  .contenedor-izquierdo {
    width: 100%;
    height: 100%;
    margin-right: 5px;
  }
  .AboutMe {
    height: 15%;
    font-size: 20px;
    padding: 25px 10px;
  }
  .section__tech {
    width: 100%;
    height: 50%;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .span1 {
    font-size: 16px;
  }
  .Conocimientos {
    display: flex;
    justify-content: center;
  }
  .Landing-photo {
    width: 100%;
  }
  .navbar-brand {
    font-size: 12px !important;
  }

  .grid-item {
    max-width: 6rem;
  }

  .grid-item-bootstrap {
    max-width: 6rem;
  }

  .footerContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
